* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #dde1e7;
    min-height: 100vh;
  }
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #dde1e7;
    margin: 20px;
    box-shadow: -7px -7px 7px #ffffff73,
                5px 5px 5px rgba(94, 104, 121, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
  }
  
  .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    transition: 0.5s;
  }
  .container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  .container .card .content .imgBx {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
  
    box-shadow: 
  
    0px 0px 2px #5f5f5f,
    0px 0px 0px 10px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #afafaf
    ;
  }
  
  .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .card .content .contentBx h3 {
    color: rgb(11, 156, 253);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .container .card .content .contentBx h3 span {
    font-size: 14px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .container .card .sci {
    position: absolute;
    display: flex;
    bottom: 30px;
  }
  
  .container .card .sci li {
    border-radius: 8px;
    list-style: none;
    margin: 0 10px;
     place-items: center;
    text-align: center;
    transform: translateY(40px);
    transition: 0.5s;
    background: #dde1e7;
    width: 50px;
    height: 40px;
    opacity: 0;
    box-shadow: 4px 4px 5px #babecc,
                -5px -5px 10px #ffffff73;
  }
  .container .card .sci li a {
    color: rgb(4, 110, 124);
    font-size: 26px;
   
  }
  
  .container .card:hover .sci li {
    transform: translateY(0);
    opacity: 1;
  }
  .container .card .sci li:nth-child(2) {
    transition-delay: 0.1s;
  }
  .container .card .sci li:nth-child(3) {
    transition-delay: 0.2s;
  }
  
  .container .card .sci li a .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
} 