body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(20, 20, 20);
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
  }

  h1 {
    font-weight: 900; /* Extra bold */
    background: linear-gradient(to right, #1a191921, #12121342); /* Gradient background for text */
    -webkit-background-clip: text; /* Clips gradient to text */
    -webkit-text-fill-color: transparent; /* Makes text transparent */
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.37); /* Adds a black stroke of 2px */
    text-align: center; /* Optional: Center align text */
}

h4 {
  font-weight: 700;
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 .912rem 0;
}

  
h5 {
  font-size: 20px;
  font-family: system-ui;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: #f1f1f175;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.42), inset -2px -2px 5px #f1f1f1;
  z-index: 1000;
  text-transform: lowercase;
  margin-bottom: 30px;
}
  
  .btn {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
  .btn:hover {
    background-color: rgb(68, 68, 68);
  }
  
  .card {
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(201, 201, 201, .6);
    color: rgb(51, 51, 51);
  }
  
  .color {
    width: 75px;
    height: 35px;
    border-radius: 3px;
  }
  
  